# Dependencies
node_modules/

# VitePress build artifacts
docs/.vitepress/cache/
docs/.vitepress/dist/

# Generated Javadoc
docs/public/javadoc/

# Misc
.DS_Store
.env
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
